html{
    font-family:sans-serif;
}
body{
    margin:0
}

/*nav{
    border-bottom: 2px solid #e8e8e8;
    position: relative;
    top: 44px;
    float: left; 
    width: 100%;
    padding: 0;
    
}*/

/*
nav ul li{
    list-style-type:none;
    float: right;
    
}

*/

/*INI BAGIAN HEADER*/
@keyframes mymove {
    0%   {left: 100px;}
    100% {left: 0px;}
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#search{
    float: right;
    margin: 10px;
}
.logo{
    height:100px; 
    float: left ; 
    margin: 10px 10px 10px 40px; 
    
}
.animated-logo1{
/*<<<<<<< HEAD*/
    animation: fadeInFromNone 3s ease-out;
/*=======*/
animation: fadeInFromNone 3s ease-out;
/*>>>>>>> 4e400bd4c678faa059f953d5526ece3151c17746*/
}

.animated-logo2{
    animation: mymove 2s;
}
.logo2{
    height:70px; 
    float: left ; 
    margin: 50px 10px 0px 10px;
    position: relative;
    
}
@keyframes mymove {
    0%   {left: 100px;}
    100% {left: 0px;}
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.index-menu{
    animation: fadeInFromNone 3s ease-out;
}
header#bottom-header{
    position:relative;
    top: 44px;
    float: right;
    width: 100%;
    text-align: right;
    height: 70px;
    border-bottom: 2px solid #e8e8e8;
    padding: 0px;
    z-index: 0;
}

#bottom-header ul{
    margin: 0px;
    margin-right: 10px;
    z-index: 0;
    position: relative;
    
}
#bottom-header ul li{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    padding:6px 16px;
    height: 50px;
    width: 100px;
    text-align: center;
    border-collapse: collapse;
    opacity: 0.4;
    
}
#bottom-header ul li:hover{
    opacity: 1.0;
    
}
#bottom-header ul li.nav-border{
    border-left: 2px solid #e8e8e8;
    
}
#bottom-header ul li span{
    margin: 10px 0px 10px 0px;
    position: relative;
    top: 20px;
    
}


header#back-header{
    width: 1000px;
    z-index: 1;
    margin: auto;
}

nav{
    height: 44px;
    width: 1000px;
    z-index: 1;
    position: fixed;
    background-color: #fff;
    border-bottom: 2px solid #e8e8e8;
    
    
}

.isiNav{
    margin: auto;
    width: 1024px;
    height: 44px;
}

.username-login{
    float:right;
    margin-bottom: 2px;
    margin-top: 10px;
}

.password-login{
    float:right; 
    margin-bottom: 2px;
}
#menu-hamburger{
    margin: 5px;
    cursor:pointer;
    float: left;
}
#menu-home{
    cursor:pointer;
    margin: 2px;
    height: 35px;
    position: relative;
    float: left;
}
.dropdown-click{
    position:relative;
    display:inline-block;
    cursor:pointer;
}

.dropdown-hover:hover .dropdown-content{
    display:block;
    z-index:1
}
.dropdown-content{
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin-left:-182px;
    padding:5px;
    border: 2px solid #e8e8e8;
    z-index: 1;
}

.login-btn{
    border-color:black;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:black;
    background-color:#fff;
    text-align:center;
    transition:.2s ease-out;
    cursor:pointer;
    white-space:nowrap;
}

.login-btn:hover{
    border-color:black;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:black;
    background-color:#fff;
    text-align:center;
    transition:.2s ease-out;
    cursor:pointer;
    white-space:nowrap;
}

#login{
    float: right;
    margin: 5px 10px 10px 5px;
}
#signup{
    float: right;
    margin: 5px 5px 10px 10px;
}

#signupBoxForm{
    margin: 5px 5px 10px 10px;
}

#hidden-menu{
    top: 46px;
    width: 200px;
    height: 280px;
    padding: 10px;
    position: fixed;
    border: 2px solid #e8e8e8;
    border-top: none;
    background-color: #fff;
    z-index: 1;
    overflow: scroll;
    
}

.hide{
    display: none;
}

.show{
    display: block;
}




/*batas bagian header */




/*<<<<<<< HEAD*/
#top-content{
    width: 100%;
    height: 300px;
    float: left;
    text-align: center;
    /*background-color: none;*/
    position: relative;
    top: 44px;
    padding: 10px; 
    z-index: -1;
}
/*=======*/
/*#top-content{
	width: 100%;
	height: 300px;
	float: left;
	text-align: center;
	position: relative;
	top: 44px;
	padding: 10px; 
	z-index: -1;
}*/
/*>>>>>>> 4e400bd4c678faa059f953d5526ece3151c17746*/

#left-content{
    width: 45%;
    float: left;
    background-color: white;
    position: relative;
    padding: 10px; 
    margin: 0px;
    z-index: 0;
    border-right: 5px solid #e8e8e8;
    margin-right:5px;
}


#right-content{
    width: 45%;
    z-index: 0;
    margin-left:5px;
    float: left;
    background-color: white;
    position: relative;
    padding: 10px; 
    margin: 0px;
    border-left: 5px solid #e8e8e8;
}

footer{
    width: 100%;
    height: 30px;
    background-color:#fff;
    position: relative;
    clear: both;
    top: 40px;
    border-top: 2px solid #e8e8e8;
    
}

footer div{
    float: right; margin-bottom: 0px; margin-top: 5px; margin-right: 10px;
}

.xlarge{font-size:24px}



#left-content .item{
    background-color: yellow;
    margin: 5px;
    width: auto;
    

}


#right-content .item{
    background-color: yellow;
    margin: 5px;
    
    
}

div#left-content div.item img{
    height: 150px;
    
}



div#right-content div.item img{
    height: 200px;
    
}

#signUpContent{
    float: left;
    position: relative;
    top: 44px;
    height: 700px;
    width: 100%;
    padding-top: 100px;
    z-index: 0;
    margin-bottom: 130px;
}

#signUpBox{
    margin: auto;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    margin-bottom: 20px;
}

.radioButton{
    margin-right: 5px;
}

#aboutUsContent{
    float: left;
    position: relative;
    top: 44px;
    height: 700px;
    width: 100%;
    padding-top: 100px;
    z-index: -1;
    align-content: center;
}

#aboutUs{
    margin: auto;
    height: 600px;
    width: 600px;
    background-color: lightgrey;
    padding: 10px;
    border-style: none;
    z-index: -1;
    
}

.pointer-cursor{
    cursor: pointer;
}
.pointer-cursor:hover{
    text-decoration: underline;
}




.single-container{
    position: relative;
    margin: auto;
    top: 44px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    float:left;
}

.single-content{
    margin: auto;
    width: 90%;
    background-color: lightgrey;
    padding: 10px;
    border-style: none;
    height: auto;
    margin-bottom: 5px;
    align-content: center;
    float: none;
}

table.showcase-table, table.showcase-table td{
    border: 1px solid black;
    border-collapse: collapse;
    /*width: ;*/
    margin: 0;
}

#profile-left-content{
    width: 45%;
    float: left;
    background-color: white;
    position: relative;
    padding: 10px; 
    margin: 0px;
    z-index: 0;
    border-right: 5px solid #e8e8e8;
    margin-right:5px;
}

#profile-right-content{
    width: 45%;
    z-index: 0;
    margin-left:5px;
    float: left;
    background-color: white;
    position: relative;
    padding: 10px; 
    margin: 0px;
    border-left: 5px solid #e8e8e8;
}

.photo-profile{
    height: 220px;
    width: 300px; 
    
}

.forgot-password{
    text-decoration: underline;
    cursor: pointer;
    float:left; 
    margin-bottom: 0px; 
    margin-top:10px; 
    font-size: 11px;
}

div#hidden-menu ul{
    padding-left: 0px;
}
div#hidden-menu ul li{
    margin: 0px;
}
div#hidden-menu ul li ul li{
    list-style: none;
    padding-left: 20px;
}

.containerKarya{
    height: 285px;
    width: 400px;
    float: left;
    padding:0px;
}

.gambarKarya{
    height: 190px;
    width: 190px;
    float: left;
    
}

.gambarKarya img{
    height: inherit;
    width: inherit;
}

.descriptionKarya{
    width: 190px;
    float: left;
    margin-left: 10px;
    padding: 0px;
    word-break: keep-all;
}

.content{
    float: left;
    position: relative;
    top: 44px;
    width: 100%;
    padding: 10px;
    z-index: 0;
}

.container{
    width: 80%;
    margin: auto;
    
}

.profile-data-left{
    float:left;
    width:20%;
    margin:10px;
    
}
.profile-data-right{
    float:left;
    width: 60%;
    margin: 10px;
}

.username-top{
    float: right;
    margin: 13px;
}
.username-top a{
    text-decoration: none;
    color: black;
}

.username-top a:visited{
    text-decoration: none;
    color: black;
}
.username-top a:hover{
    text-decoration: none;
    color: blue;
}

/*profile pict abous us*/
.profpict{
    width: 120px;
    height: 120px;
    float: left;
    clear: both;
    margin-right: 10px;
}

.icon-prof-pict{
    width: 25px;
    height: 25px;
}

.tambah{
    float:right;
    clear: both;
    
}